@-moz-document url-prefix("https://robertsspaceindustries.com/spectrum/community/SC") {
/* SPECTRUM v2.0.2 */
/* Import this CSS code into the browser extension Stylus to get a better coloring of the Spectrum web page */
/* For example: https://robertsspaceindustries.com/spectrum/community/SC/forum/50172/thread/better-look-and-feel-of-the-spectrum-website */
/* Updates: https://github.com/rjcncpt/starcitizen-better-spectrum-look

/* DARK THEME */
.theme-dark ::-webkit-scrollbar-thumb,
.theme-dark#app #app-header,
.theme-dark #page #page-main .page-header .page-header-inner .actions .action.on{background: #335a8f;}

.theme-dark .messages-list .separator.new-messages.faded .new-messages .label,
.theme-dark .messages-list .separator.new-messages.faded{color: rgb(99 163 230)!important;}

.theme-dark .content-block.text{color: #f3f3f3;font-size:.9em;}

.theme-dark #app-content>#page.community>#page-main .community-list,
.theme-dark #page #page-main,
#app.theme-dark #app-content #page.lobby #page-main .messages-list,
.lobby-member-presences>.members-list .members-list-group .members-list-group-header,
.theme-dark .forum-thread-item.is-editor-reply,
.theme-dark #page.forum-channel .row.thread:not(.unread){background: #101824!important;}

#app.theme-dark #app-content #page.lobby .lobby-footer>.top,
.theme-dark .forum-label,
.theme-dark .c-sidebar-navigation,
#app.theme-dark #app-content #page.lobby #page-main .lobby-header,
#app.theme-dark #app-content #page.lobby .lobby-footer>.message-input,
.theme-dark .forum-editor-reply,
.theme-dark .list-navigator .bar,
.theme-dark .list-navigator .widgets .navigation .navigation-content,
.theme-dark .list-navigator .widgets .navigation .left-triangle:before{background-color: #0b111a;}

.theme-dark #app-content>#page.community>#page-main .community-list h3,
.theme-dark #page.forum-channel .row.columns-header,
.theme-dark #page #page-main .page-header .page-header-inner,
.theme-dark .c-sidebar-header,
.theme-dark .l-sidebar__footer,
.theme-dark #page.forum-thread .page-content .forum-thread .forum-thread-header .thread-control-bar,
.theme-dark #page.forum-thread .page-content .forum-thread .forum-thread-replies .forum-thread-item,
.theme-dark .quick-access-header,
.theme-dark .message-input .message-row>.input,
#app.theme-dark #app-content .quick-access .lobby-member-presences .search,
.theme-dark .forum-editor-reply .forum-editor-core,
.theme-dark .list-navigator .widgets .navigation .navigation-progress:before,
.theme-dark .list-navigator .widgets button.action,
.theme-dark .member-profile .profile-quick-msg textarea{background-color: #151f2e;}

.theme-dark .member-profile .profile-badges{background: transparent;border:0;}
.member-profile .profile-below-banner {padding: 8px 14px;}
.member-profile .profile-member-nickname {margin-top: 4px;margin-left: -3px;}

.l-sidebar {grid-template-rows: 89px auto 70px;}
.theme-dark .member-avatar .avatar-badges{margin-top: 10px;}
.theme-dark .member-avatar .avatar {width: 56px;height: 56px;}
.c-sidebar-header__avatar {padding-left: 10px;width:55px;}
.theme-dark .c-sidebar-header{padding:10px 0 10px 0;}

.theme-dark .message-item>.content>.top .member-name span.displayname {font-weight: 600;}

.theme-dark .notification-subscription.active>button>svg>use,
.theme-dark button.bookmark.active>svg>use{fill: #d79815;stroke: #d79815;}
.sidebar-list .sidebar-item>.column.notification>.unread-flag {font-size: 1rem;}
.message-item>.gutter {width: 60px;}

/* border */
.theme-dark #app-content>#page.community>#page-main .community-list.community-list-lobbies .community-item:first-child,
.theme-dark #app-content>#page.community>#page-main .community-list ul .community-item,
.theme-dark #page-main .community-info,
.theme-dark #page.forum-channel .row.columns-header,
.theme-dark #page.forum-channel .row:not(:last-child),
.theme-dark .c-sidebar-list-body:after,
.theme-dark #page #page-main .page-header .page-header-inner,
.theme-dark .message-item,
.theme-dark .quick-access,
#app.theme-dark #app-content #page.lobby #page-main .lobby-header,
.theme-dark .forum-editor-reply,
.theme-dark .list-navigator .widgets .navigation .left-triangle:before,
.theme-dark .list-navigator .bar,
.theme-dark .list-navigator .widgets button.action,
.theme-dark .forum-thread-item>.content .content-footer>.actions>.group{border-color: #1a2638;}
.theme-dark .member-avatar .avatar,
.theme-dark .member-avatar .avatar-badges,
.forum-thread-item>.content .content-header>.left .member-avatar .avatar,
.lobby-member-presences>.members-list .lobby-presence-item .member-avatar .avatar,
.theme-dark #page-main .community-info .community-avatar{border:0;}
/* border end */

.theme-dark .forum-label{color: #82acc3;}
.theme-dark #app-content>#page.community>#page-main .community-list ul .community-item .default-link .description {color: #d6e3eb;line-height: 1.5em;}
.theme-dark #app-content>#page.community>#page-main .community-list ul .community-item .default-link {color: #8fc2ef;}

#page.forum-channel .row .column.tracked-posts {opacity: .6;}
.lobby-member-presences>.members-list{opacity:.4;}
#page.forum-channel .row .column.tracked-posts:hover,
.lobby-member-presences>.members-list:hover{opacity:1;animation-name: fadeInOpacity;animation-iteration-count: 1;animation-timing-function: ease-in;animation-duration: .2s;}

@keyframes fadeInOpacity {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.theme-dark .public-DraftEditor-content pre, .theme-dark pre {background-color: #1e2b40;border-color: #1a2638;color: #e8eaf0;}

.theme-dark button.vote.active,
.theme-dark .reaction.active{border-color: #4c80b7;}

.theme-dark .content-block:not(.text) {background-color: rgba(11,17,26,.5);}
.theme-dark .sidebar-list .sidebar-item.active {background-color: #182436;}

#page.forum-channel .row .column.last-activity>.member .member-avatar .avatar {width: 26px;height: 26px;}

/* forum */
#page.forum-thread .page-content .forum-thread .forum-thread-header .thread-control-bar {padding: 12px 12px 12px 13px;}
.forum-thread-item .toggle-collapse-gutter {width: 30px;}
.forum-thread-item .toggle-collapse-gutter .toggle-collapse {padding: 1px 10px;}
.forum-thread-item.style-type-small {padding: 10px 0 10px 38px;}
.forum-thread-item>.gutter {width: 100px;}
.forum-thread-item>.gutter .member-avatar .avatar {width: 100px;height: 100px;}
.forum-thread-item>.gutter .gutter-highlight-label {left:100px;padding: 5px 10px 5px 20px;}
.forum-thread-item.style-type-large.is-highlighted>.content>.content-main>.content-header>.left {margin-top: 40px;}
.forum-thread-item .forum-thread-subject {font-weight: 600;margin-left: -2px;}
.content-block:first-child {margin-top: 20px;}
.content-block.image,
.content-block.video{display: inline-flex;}
.content-block:not(.text) {margin: 15px 0 0px 0;}
.member-profile-openable.can-shrink {margin-left: -2px;}
.action-button, .action-button--size-s {height: 40px;}
.action-button--outline {padding: 3px 15px;}

/* image rendering */
.forum-thread-item>.gutter .member-avatar .avatar,
.theme-dark .member-avatar .avatar{
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}
/* image rendering end */
/* forum end */

@media only screen and (max-width: 999px) {
  .theme-dark .content-block:not(.text) {width: 49%;}
}
}
